:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  --font-subheadings: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Open Sans", "Helvetica Neue", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --dark-green: #394213;
  --light-green: rgb(232, 239, 232);
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;
  --card-bg: #d1d3c5;
  --hover: color-mix(in oklab, var(--secondary-color) 70%, black);
  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}
img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
  & img {
    width: 60px;
    height: 60px;
  }
  & a {
    text-decoration: none;
    color: var(--font-body);
  }
}

.hero {
  position: relative;
  & .logo {
    position: absolute;
    left: calc(50% - 60px);
    bottom: -10px;
    background-color: white;
  }
}

.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
  & img {
    width: 90px;
    height: 90px;
    margin-top: -1.3em;
  }
  & > div {
    margin-top: -1.7em;
  }
}

/* utility classes */
.highlight {
  color: #8FBC8F;
}

button{
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  /* display: block; */
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
  /* position: relative; */
  z-index: 2;
  transition: all 0.35s ease;
  &:hover {
    color: white;
    background-color: var(--hover);
    transition: all 0.3s ease;
  }
}

/* button.remove-item {
  bottom: 12px;
  right: 12px;
} */


button.clicked {
  filter: brightness(140%);
}

.divider {
  border-bottom: 3px solid var(--dark-green);
}
/* End utility classes */

/* Modal style */
.modal {
  display: none;
  background-color: var(--light-green);
  padding: 15px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  color: var(--dark-green);
}
.close {
  position: absolute;
  cursor: pointer;
  right: 1.5em;
  top: 1em;
  font-weight: 800;
}
/* Cart icon styles */

/* Mosiah made these changes for the backpack counter*/
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 28px;
  stroke: var(--primary-color);
}

.cart a {
  text-decoration: none;
  position: relative; /* Ensure relative positioning */
}

.cart:hover svg {
  fill: var(--secondary-color);
}

.cart-count {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-20%, -150%); 
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 15px;
}
/* End cart icon styles */

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}
.products {
  padding: 0.5em;
}
.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 2%;
  gap: 20px;
  & a {
    text-decoration: none;
    color: var(--dark-green);
  }
}

/* Styles for product lists */
.product-card {
  flex: 1 1 50%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--dark-green);
  max-width: 250px;
  gap: 10px;

  &:hover {
    background-color: var(--light-green);
    box-shadow: 0 0 10px gray;
    border: none;
    transform: scale(1.01);
    transition: all 0.2s ease-in;
  }
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
  padding: 2%;
}
/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
  & img {
    width: 100%;
  }
}

/* Start cart list card styles */

.cart-card {
  display: grid;
  grid-template-columns: 120px 1fr auto;
  grid-template-rows: auto;
  font-size: var(--small-font); 
  width: 100%;
  padding: 2%;
  background-color: var(--light-green);
  gap: 25px;
  color: var(--dark-green);
  & a:hover {
    box-shadow: 0 0 10px gray;
    transform: scale(1.02);
    transition: all 0.2s ease;
  }
}
.cart-card__image {
  justify-self: center;
  width: 100%;
  grid-row: 1;
  grid-column: 1;
  padding-inline: 1% ;
  padding-top: 20px;
  padding-bottom: 2%;
  align-items: center;
  background-color: white;
}

.view-detail img {
  width: 100%;
}

.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
  padding: 0;
  font-style: italic;
  font-family: var(--font-subheadings);
  font-size: 22px;
}

.cart-card__color {
  grid-row: 1;
  grid-column: 2;
  font-family: var(--font-sub-title);
  font-weight: 600;
  & h4 {
    display: inline;
  }
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__price {
  grid-row: 1;
  grid-column: 3/4;
  align-self: start;
 text-align: right;
 
 & p {
  margin-top: -10px;
 }

}
.view-detail p{
  color: var(--secondary-color);
  width: 100%;
  text-align: center;
  padding: 5%;
  font-weight: 700;
  font-size: 18px;
  &:hover {
    color: var(--dark-green);
  }
}

.cart-card__discount {
  font-weight: 600;
  color: rgb(189, 9, 9);
  font-size: smaller;
}

.tag {
  display: flex;
  align-items: center;
  margin-top: -10px;
}

.product-detail .tag-price {
  width: 30px;
  display: flex;
  margin-left: 8px;
}

.cart-footer-hide {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  align-items: center;
  color: var(--dark-green);
  font-weight: 700;
  font-size: var(--large-font);
  & a {
    text-decoration: none;
    background-color: var(--secondary-color);
    color: white;
    padding: 0.5em 2em;
    width: 40%;
    transition: all 0.35s ease;
    &:hover {
      color: white;
      background-color: var(--hover);
      transition: all 0.3s ease;
    }
  }
}

.cart-card__total {
  text-align: right;
  margin-right: 10px;
}

/* Start Quantity Selector */
.quantity-selector h4 {
  display: inline;

}
.quantity-selector {
  padding: 3% 0;
}

.quantity-button, .quantity-input {
  height: 2rem;
  width: 2rem;
  text-align: center;
  font-size: 1rem;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 1%;
  cursor: pointer;
}

.quantity-input {
  margin-inline: -5px;
}

.quantity-button {
  background-color: var(--secondary-color)
}

.quantity-button:active, .quantity-input:focus {
  background-color: #e0e0e0;
}

.quantity-input {
  -moz-appearance: textfield;
  appearance: textfield;
}
.remove-item{
  margin-left: 10px;
  margin-top: 40%;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.quantity-input:focus {
    outline: none;
}
.empty-cart-img {
  width: 25%;
  display: block;
  color: var(--dark-green);
  font-weight: 600;
  & img {
    width: 40%;
  }
  & :hover {
    transform: scale(1.2);
    transition: transform .3s ease;
  }
}

/* End Quantity Selector */

.alert-list {
  padding: 2px 5px;
  margin: 10px 0;
}

.alert-list p {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  font-size: 1em;
}
.alert::before {
  content: "\2713";
  background-color: var(--dark-green);
  color: white;
  display: flex;
  align-self: stretch;
  font-size: larger;
 text-align: center;
  
  padding: 1% 0.5em;
}
.alert {
  margin-top: 10px;
  padding: 0.01em 1em;
  border: 1px solid var(--dark-green);
  padding-left: 0;
  border-radius: 4px;
  color: var(--dark-green);
  background-color: var(--light-green);
  display: flex;
  align-items: center;
  justify-content: space-between;
  & span{
    cursor: pointer;
    font-weight: 600;
    padding: 0.01em 1em;
    font-size: larger;
    justify-self: start;
    &:hover {
      color: #8FBC8F;
    }
  }
}

.cart-card-sub {
  display: static;
  
}

/* .cart-card {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
} */
.oldPrice {
  text-decoration: line-through;
  font-size: medium;
  color: rgb(191, 3, 3);
}

.sproing {
  animation: sproing 0.8s ease-in-out forwards;
}

@keyframes sproing {
  25% {
    transform: translateX(15px);
  }
  50% {
    transform: translateX(-12px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveToCartX {
  0% {
    left: var(--from-x);
  }
  100% {
    left: var(--to-x);
  }
}

@keyframes moveToCartY {
  0% {
    top: var(--from-y);
  }
  50% {
    top: var(--from-y);
  }
  70% {
    opacity: 0.7;
  }
  100% {
    top: var(--to-y);
    opacity: 0.2;
  }
}

/* Product list option enhancement */
/* Style for the brand list container */
#brandListContainer {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

/* Style for the brand buttons */
#brandList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

#brandList button {
  background-color: #2e8b57; /* Sea Green */
  border: 2px solid #556b2f; /* Dark Olive Green */
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

#brandList button:hover {
  background-color: #3cb371; /* Medium Sea Green */
  transform: scale(1.05);
}

#brandList button:active {
  background-color: #2e8b57; /* Sea Green */
  transform: scale(0.95);
}

/* Style for the product list */
.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-list .product-card {
  list-style-type: none;
  width: 200px;
  /* margin: 10px; */
}

.product-list .product-card img {
  width: 100%;
  height: auto;
}

.product-list .product-card h3,
.product-list .product-card h2,
.product-list .product-card p {
  margin: 10px;
  text-align: left;
}
.product-card__price {
  font-weight: 700;
}

/* Breadcrumbs styles */
.breadcrumbs {
  font-size: 1.5em;
  color: #4B5320; 
  margin: 1.5em 0; 
  font-family: 'Arial, sans-serif'; 
  display: flex;
  align-items: center;
  font-weight: 900;
}

.breadcrumbs a {
  color: #6B8E23;
  text-decoration: none;
}

.breadcrumbs a:hover {
  color: #8FBC8F; 
  text-decoration: underline;
}

.breadcrumbs span {
  margin: 0 5px;
  color: #4B5320; 
}

/* Add icons to the breadcrumb for a more visual hierarchy */
.breadcrumbs a::after {
  content: "\2192"; 
  margin-right: 5px;
  color: #4B5320; 
}

.breadcrumbs a:hover::before {
  color: #8FBC8F; 
}


@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .mission {
    font-size: 1.2em;
  }
  .cart-card {
    font-size: inherit;
    /* grid-template-columns: 150px auto 15%; */
  }
  .breadcrumbs {
    font-size: 1.2em;
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}

/* product grid styles */
.product-grid {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  color: var(--dark-grey);
  padding-left: 0;
  
  & a {
    text-decoration: none;
  }
  & :hover {
    transform: scale(1.04);
    transition: transform .3s ease-out;
  }
}

.product-grid > li {
  width: 150px;
  /* border: 1px solid var(--light-grey); */
  padding: 0.5em;
  margin: 1em;
}
.product-grid h2 {
  margin: 0;
  font-size: 1.2em;
  position: relative;
}

.product-grid h2::after {
  content: '';
  position: absolute;
  bottom: -.05em;
  width: 100%;
  left: 0;
  height: 1px;
  background-color: var(--dark-green);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform .3s ease-out;
}

.product-grid a:link,
.product-grid a:visited {
  color: var(--dark-grey);
}
.product-grid li h2:hover::after {
  transform: scale(1);
  border: 1px solid var(--dark-green);
  transform-origin: bottom left;
}

/* CHECKOUT FORM STYLING STEP 3 WEEK 7 part 2 */
.checkout-form {
  padding: 0.5em;
  width: 700px;
  margin-inline: auto;
  & button {
    margin-top: 10px;
  }
}

.checkout-form label {
  display: block;
  padding-top: .5rem;
}

.checkout-form input {
  width: 100%;
  font-size: 1.2em;
  padding: 4px;
  &:focus:invalid {
    border: 1px solid red;
  }
}
.formRequire {
  color: red;
}

.checkout-summary > ul {
  padding: 10px;
  padding-left: 0;
  list-style-type: none;
  border: 3px solid var(--dark-green);
  width: 600px;
  margin-inline: auto;
  
}
.checkout-summary li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .4em;
}
.checkout-summary input {
  width: 25%;
  font-size: 1em;
}

fieldset {
  border: 1px solid var(--dark-green);
  background-color: var(--light-green);
  margin-top: 20px;
}

legend {
  font-weight: 600;
  color: var(--dark-green);
}

}